<kendo-grid
    [kendoGridBinding]="prod"
    [sortable]="true"
    [pageSize]="10"
    [pageable]="true"
    [height]="510">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-column field="productId" title="Product ID" [width]="70"></kendo-grid-column>
    <kendo-grid-column field="productName" title="Product Name" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="productNumber" title="Product Number" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="description" title="Description" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="listPrice" title="Price" [width]="100"></kendo-grid-column>
    <kendo-grid-column title="" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoGridEditCommand [primary]="true">Edit</button>
                <button
                  [swal]="{ title: 'Delete Product', 
                            text: 'this will delete permanently',
                            type: 'warning',
                            cancelButtonColor:'#d33',
                            showCancelButton:true,
                            cancelButtonText:'Cancel',
                            confirmButtonColor:'#000000',
                            confirmButtonText:'Delete'}"
                  (confirm)="deleteProduct(dataItem.productId)"
                  (cancel)="cancel()">
                  Delete
                </button>
            </ng-template>
    </kendo-grid-column>
</kendo-grid>